services:
  # PostgreSQL база данных
  database:
    image: postgres:14-alpine
    environment:
      POSTGRES_DB: healthdb
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./backend/db/init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d healthdb"]
      interval: 10s
      timeout: 5s
      retries: 5

      
  # Бэкенд на Node.js
  backend:
    build: ./backend
    ports:
      - "3000:3000"
    depends_on:
      database:
        condition: service_healthy
    environment:
      DATABASE_URL: postgresql://user:pass@database:5432/healthdb
      NODE_ENV: development
    volumes:
      - ./backend:/app
      - /app/node_modules
  
  # Фронтенд на Nginx
  frontend:
    build: ./frontend
    ports:
      - "8080:80"
    depends_on:
      - backend
    volumes:
      - ./frontend:/usr/share/nginx/html

volumes:
  postgres_data: